[submodule "riscof-plugins-example"]
	path = riscof-plugins-example
	url = https://gitlab.com/incoresemi/riscof-plugins.git
[submodule "riscv-arch-test"]
	path = riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test.git
